In [3]:
#This is for testing purposes. To try new things
import pandas as pd

filename = '/Users/ChandlerCapps/Desktop/CSC3130/WebProject_Chandler/JSON/2017-02-21_OPGG_WinPercentage.json'

data = pd.read_json(filename)

In [4]:
data

NameError: name 'data' is not defined

In [5]:
data['Champion Name']

NameError: name 'data' is not defined

In [6]:
i = 0
for stuff in data['Champion Name']:
    if('Wukong') in stuff:
        print(stuff)
        print()
        i += 1
print(i)

NameError: name 'data' is not defined

In [7]:
data.sort_values('Champion Name')

NameError: name 'data' is not defined

In [1]:
data[data['Champion Name'] == 'Wukong']

NameError: name 'data' is not defined

In [67]:
import pandas as pd
file1 = '/Users/ChandlerCapps/Desktop/CSC3130/WebProject_Chandler/JSON/OPGG/Daily_All/2017-03-30_All.json'
file2 = '/Users/ChandlerCapps/Desktop/CSC3130/WebProject_Chandler/JSON/OPGG/Daily_All/2017-03-31_All.json'

data1 = pd.read_json(file1)
data2 = pd.read_json(file2)

In [66]:
data1.head(10)

  Champion_Name  Champion_Rank Date_Scraped Number_of_Games Win_Percentage
0         Ivern              1   2017-03-30           4,178         54.14%
1         Swain              2   2017-03-30           5,735         52.75%
2         Shaco              3   2017-03-30          10,544         52.69%
3          Ahri              4   2017-03-30          18,111         52.55%
4    Blitzcrank              5   2017-03-30          15,266         52.44%
5       Skarner              6   2017-03-30           1,195         52.38%
6        Wukong              7   2017-03-30           5,210         51.88%
7        Anivia              8   2017-03-30           4,700         51.79%
8          Fizz              9   2017-03-30          10,390         51.61%
9         Janna             10   2017-03-30           8,946         51.58%

In [68]:
data2.head(10)

  Champion_Name  Champion_Rank Date_Scraped Number_of_Games Win_Percentage
0         Ivern              1   2017-03-31           4,071         53.84%
1         Shaco              2   2017-03-31          10,154         53.23%
2          Ahri              3   2017-03-31          17,584         52.64%
3    Blitzcrank              4   2017-03-31          14,895         51.90%
4        Xerath              5   2017-03-31           3,254         51.87%
5          Sona              6   2017-03-31           9,841         51.87%
6         Swain              7   2017-03-31           5,556         51.55%
7         Janna              8   2017-03-31           8,677         51.49%
8        Anivia              9   2017-03-31           4,357         51.48%
9          Fizz             10   2017-03-31          10,511         51.37%

In [70]:
masterData = data2.sort_values("Champion_Name")